<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MAINIKE </title>
    <link rel="stylesheet"
          href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <li><a href="/login">ログイン</a></li>
    </header>

    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">記事一覧ページ</h2>
        <h1 class="title">LIST PAGE</h1>
        <p class="description">
          以下に日々の記事が投稿されていきます
          <br>
          会員登録はこちら
        </p>
        <a href="/article" class="index-button">記事はこちら</a>
      </div>
      <div class="top-image">
        
      </div>
    </div>
  </body>
</html>