<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MAINIKE</title>
    <link rel="stylesheet"
          href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    
    <header>
      <h1>TOP画面</h1>
    </header>

  </body>
</html>