<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MAINIKE</title>
    <link rel="stylesheet"
          href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
  　<div class="top">
     <div class="wrapper">
      <div class="content">
        <h2>経済コラム</h2>
        <p>経済情勢に関するアウトプット場</p>
        <a class="btn" href="/list">読み始める</a>
      </div>
    </div>
  </div>

  </body>
</html>